.simply-Countdown {
    overflow: hidden;
    margin: auto;
    line-height: 10px; /* Diperbaiki dari 'line-height: 10px;i' */
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: var(--pink);
    padding: 50px;
    border-radius: 50%; /* Membuatnya bulat */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 1.24);
    display: flex; /* Menggunakan flexbox */
    justify-content: space-between; /* Mengatur elemen ke kiri dan kanan */
}

.simply-Countdown .countdown-item {
    display: flex;
    flex-direction: column; /* Mengatur item countdown dalam kolom */
    align-items: center; /* Meratakan konten di tengah */
    margin: 15px;
    padding: 50px;
    border: 2px solid #3498db;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.simply-Countdown .countdown-item:hover {
    background-color: #3498db;
    color: white;
}

.simply-Countdown .countdown-value {
    font-size: 2em;
    font-weight: bold;
}

.simply-Countdown .countdown-label {
    font-size: 1em;
    text-transform: uppercase;
}

.separator {
    font-size: 2em;
    margin: 0 10px; /* Memberikan jarak antara pemisah dan item */
    align-self: center; /* Memastikan pemisah terletak di tengah */
}
